name: Build docker
on: 
  workflow_call:
    inputs:
      push:
        required: true
        type: boolean
jobs:
  build-docker:

    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v5

      - name: Log in to docker hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Set up docker qemu
        uses: docker/setup-qemu-action@v3

      - name: Set up docker buildx
        uses: docker/setup-buildx-action@v3

      - name: Build image
        uses: docker/build-push-action@v6
        with:
          push: ${{ inputs.push }}
          tags: ${{ secrets.DOCKER_USERNAME }}/my-app:latest
